/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#bovenkant{
    width: 900px;
    height: 225px;
    background-color: lightblue;
}

#middenbovenkant{
    width: 900px;
    height: 10px;
    background-color: white;
}

#middenkant{
    width: 900px;
    height: 130px;
    background-color: black;
}

#middenonderkant{
    width: 900px;
    height: 10px;
    background-color: white;
}

#onderkant{
    width: 900px;
    height: 225px;
    background-color: lightblue;
}
